[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=simple
User=root
PAMName=login
ExecStart=/usr/bin/vncsession-start :9

[Install]
WantedBy=multi-user.target
